@model _23WebAPIAssignment.PODETAIL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PODETAIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTY)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
